# MailHog
MAILHOG_USER=admin
MAILHOG_PASSWORD=admin123
# Email settings for MailHog
EMAIL_HOST=mailhog_cinema
EMAIL_PORT=1025
EMAIL_HOST_USER=testuser
EMAIL_HOST_PASSWORD=test_password
EMAIL_USE_TLS=False
# JWT keys
SECRET_KEY_ACCESS=<your secret key access>
SECRET_KEY_REFRESH=<your secret key refresh>
JWT_SIGNING_ALGORITHM=HS256
# celery
CELERY_BROKER=redis://localhost:6379/0
CELERY_BACKEND=redis://localhost:6379/0
# Stripe
STRIPE_SECRET_KEY=<your stripe secret key>
STRIPE_PUBLISHABLE_KEY=<your stripe publisher key>
BASE_URL=http://127.0.0.1:4242
WEBHOOK_SECRET=<your webhook secret>
# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_HOST=minio-cinema
MINIO_PORT=9000
MINIO_STORAGE=cinema-storage